@mixin title {
  position: relative;

  margin: 0 auto;
  margin-bottom: 60px;
  padding-bottom: 30px;

  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #353535;

  border-bottom: dotted 2px #d2d7dd;
}

@mixin title-after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 43px;

  display: block;
  width: 88px;
  height: 13px;
  margin: 0 auto;

  background-image: url("../img/separator.png");
  background-repeat: no-repeat;
  background-position: center;
}

@mixin padding-y {
  padding-top: 100px;
  padding-bottom: 125px;
}

@mixin text-blocks {
  font-size: 14px;
  color: #8c9398;
}

@mixin slider-toggles {
  display: flex;
  justify-content: space-between;

  width: 58px;
  height: 14px;
  margin: 0 auto;

  background: rgba(0, 0, 0, 0);
}

@mixin slider-toggle {
  width: 10px;
  height: 10px;
  border: 2px solid #cccdcc;
  border-radius: 50%;
}

@mixin slider-toggle--active {
  background-color: #212024;
}
