.about {
  background-color: #f3f5f8;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 1) 50%), url("../img/iphone.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
}

.about__center {
  display: flex;
  justify-content: flex-end;
}

.about__center::before {
  content: "";
  display: block;
  width: 20px;

  background-color: #ffffff;

  box-shadow: -20px 0 30px 0 rgba(0, 0, 0, 0.1);
}

.about__text-field {
  width: 50%;
  @include padding-y;
  background: #ffffff;
}

.about__title {
  width: 457px;
  @include title;
}

.about__title:after {
  @include title-after;
  background-color: #ffffff;
}

.about__text {
  width: 457px;
  margin: 12px auto;
  @include text-blocks;
}
