.advantage {
  width: 360px;
}

.advantage::before {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;

  background-color: #3dc9b3;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 50%;
}

.advantage--design::before {
  background-image: url("../img/laptop.png");
}

.advantage--dev::before {
  background-image: url("../img/brackets.png");
}

.advantage--love::before {
  background-image: url("../img/heart.png");
}

.advantage__title {
  @include item-title;
}

.advantage__title::after {
  @include item-title-after;
}

.advantage__text {
  padding: 0 30px;
  @include text-blocks;
  line-height: 20px;
}
