.advantages {
  @include padding-y;
  text-align: center;
}

.advantages__center {
  display: flex;
  flex-wrap: wrap;
}

.advantages__title {
  width: 555px;
  @include title;
}

.advantages__title:after {
  @include title-after;
  background-color: #ffffff;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 767px) {
  .advantages__list {
    width: 100%;
  }
}
