.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 30%;
  margin: 0 18px;
  padding-bottom: 30px;

  text-align: center;
}

.feature__title {
  @include item-title;
}

.feature__title::after {
  @include item-title-after;
}

.feature__img {
  order: -1;
  width: 360px;
  height: 200px;
  background: #3dc9b3;
}

.feature__text {
  padding: 0 30px;
  @include text-blocks;
  line-height: 20px;
}

@media (max-width: 767px) {
  .feature {
    width: 280px;
  }

  .feature__text,
  .feature__img,
  .feature__title {
    width: 100%;
  }
}
