.jump {
  padding-top: 80px;
  padding-bottom: 55px;

  text-align: center;
  color: #ffffff;

  background-image: url("../img/bg-middle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jump__text {
  text-transform: uppercase;
}

.jump__text--big {
  margin-bottom: 20px;
  font-size: 40px;
}

.jump__text--small {
  margin-bottom: 40px;
  font-size: 25px;
}

.jump__link {
  position: relative;

  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;

  background-color: #3dc9b3;

  border-radius: 50%;
}

.jump__link::before {
  content: "";
  position: absolute;
  left: 14px;
  top: 10px;

  display: block;
  width: 10px;
  height: 10px;

  border: 2px solid #ffffff;
  border-top: none;
  border-left: none;

  transform: rotate(45deg);
}
