.page-heading {
  @include padding-y;
  text-align: center;
  background-color: #f3f5f8;
}

.page-heading__center {
  display: flex;
  flex-wrap: wrap;
}

.page-heading__title {
  width: 555px;
  @include title;
}

.page-heading__title:after {
  @include title-after;
  background-color: #f3f5f8;
}

.page-heading__text {
  max-width: 750px;
  margin: 0 auto;
  @include text-blocks;
  line-height: 30px;
}
