.page-header {
  display: flex;
  flex-wrap: wrap;

  padding-top: 250px;
  padding-bottom: 340px;

  background-image: url("../img/bg-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__text {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;

  text-align: center;
  font-size: 15px;
  color: #a1a9b0;
}

.page-header__btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px 0;

  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;

  background: #3dc9b3;

  border-radius: 5px;

  box-shadow: 0 5px 0 0 #309383;
}

.page-header__btn:hover {
  background: #309383;
}

.page-header__btn:active {
  opacity: 0.5;
}
