.slogan {
  width: 100%;
  padding: 60px 0;
  color: #ffffff;
  background-color: #242830;
}

.slogan__text {
  width: 300px;
  margin: 0 auto;
  padding: 30px 0;

  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  border: 2px solid #ffffff;
}
